<div class="container">
  <div class="row search-page">

    <form name="searchForm" class="search-form" (submit)="submitFormUser()">
      <div class="row form-group">

        <label class="col-md-3" for="fname">First Name</label>
        <input class="col-md-3 form-control" type="text" name="fname" id="fname" [(ngModel)]="user.fname" >

        <label class="col-md-3" for="lname">Last Name</label>
        <input class="col-md-3 form-control" type="text" name="lname" id="lname" [(ngModel)]="user.lname" >
      </div><br>
      <div class="row form-group" >

        <label class="col-md-3" for="dob">Date of Birth</label>

        <input class="form-control" placeholder="yyyy-mm-dd" id="dob"  name="dob" [(ngModel)]="user.dob"
               ngbDatepicker #d1="ngbDatepicker" >
        <div class="input-group-addon" (click)="d1.toggle()" >
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <label class="col-md-2" for="address">Address</label>
        <input class="col-md-2 form-control" type="text" name="address" id="address" [(ngModel)]="user.address" >
      </div><br>

      <input type="submit" class="btn btn-success" value="Submit">
      <button type="button" class="btn btn-danger"(click)="resetForm()">clear</button>

    </form>

  </div>
</div>

